tiktoken
blobfile
torch
opt_einsum
natsort
safetensors
einops
huggingface-hub

# Optional dependencies (uncomment if needed)
# fairscale
# pyyaml
# matplotlib
# datasets
# simple-parsing
# transformers
